<div class="row mt-5">  <!--mt = margin-top-->
    <div class="col-md-6 m-auto"> <!--6 column div that is pushed to the middle-->
      <div class="card card-body text-center">
        <h1><i class="fas fa-user-circle fa-2x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a> <!--button to register-->
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a> <!--button to login-->
      </div>
    </div>
  </div>